## Importing the Necessary Packages

In [56]:
import sys, os
import pandas as pd

In [57]:
sys.path.append(os.path.abspath('../scripts'))

In [58]:
import preprocessing as prep
import eda

## Loading the Data

In [83]:
filepath1 = r'C:\Users\Blen\OneDrive\Desktop\10Academy\FraudDetection\data\merged_fraud_data.csv'
filepath2 = r'C:\Users\Blen\OneDrive\Documents\10Academy\Week8&9\Data\creditcard.csv'

In [84]:
fraud_data, creditCard_data = prep.load_data(filepath1, filepath2)

In [61]:
fraud_data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,age,ip_address,class,lower_bound_ip_address,upper_bound_ip_address,...,hour_of_day,day_of_week,month_of_year,browser_FireFox,browser_IE,browser_Opera,browser_Safari,source_Direct,source_SEO,sex_M
0,247547,2015-06-28 03:00:00,2015-08-09 03:57:00,0.549607,KIXYSVCHIPQBR,-0.363124,16778864,0,-1.724490,-1.732939,...,-1.231124,1.487911,0.749993,False,False,False,True,False,True,False
1,220737,2015-01-28 14:21:00,2015-02-11 20:28:00,-1.197335,PKYOWQKWGJNJI,0.101168,16842045,0,-1.724461,-1.732881,...,1.229002,-0.505034,-1.500438,False,False,False,False,False,True,False
2,390400,2015-03-19 20:49:00,2015-04-11 23:41:00,0.385831,LVCSXLISZHVUO,-0.479197,16843656,0,-1.724430,-1.732880,...,1.663142,0.989675,-0.750295,False,True,False,False,False,False,True
3,69592,2015-02-24 06:11:00,2015-05-23 16:40:00,0.986342,UHAUHNXXUADJE,-0.363124,16938732,0,-1.724355,-1.732790,...,0.650149,0.989675,-0.375223,False,False,False,False,True,False,False
4,174987,2015-07-07 12:58:00,2015-11-03 04:04:00,0.767974,XPGPMOHIDRMGE,0.449387,16971984,0,-1.724340,-1.732760,...,-1.086411,-1.003270,1.875208,False,False,False,False,False,True,False

In [62]:
creditCard_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [63]:
fraud_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129146 entries, 0 to 129145
Data columns (total 22 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   user_id                       129146 non-null  int64
 1   signup_time                   129146 non-null  object
 2   purchase_time                 129146 non-null  object
 3   purchase_value                129146 non-null  float64
 4   device_id                     129146 non-null  object
 5   age                           129146 non-null  float64
 6   ip_address                    129146 non-null  int64
 7   class                         129146 non-null  int64
 8   lower_bound_ip_address        129146 non-null  float64
 9   upper_bound_ip_address        129146 non-null  float64
 10  country                       129146 non-null  object
 11  transaction_time_diff(hours)  129146 non-null  float64
 12  hour_of_day                   129146 non-null  float64
 13  day_of_week                   129146 non-null  float64
 14  month_of_year                 129146 non-null  float64
 15  browser_FireFox               129146 non-null  bool
 16  browser_IE                    129146 non-null  bool
 17  browser_Opera                 129146 non-null  bool
 18  browser_Safari                129146 non-null  bool
 19  source_Direct                 129146 non-null  bool
 20  source_SEO                    129146 non-null  bool
 21  sex_M                         129146 non-null  bool
dtypes: bool(7), float64(8), int64(3), object(4)
memory usage: 15.6+ MB

In [64]:
creditCard_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

## Scaling Country

# Step 1: Count the occurrences of each country

In [65]:
country_counts = fraud_data['country'].value_counts()

In [66]:
country_counts

country
United States                     58049
China                             12038
Japan                              7306
United Kingdom                     4490
Korea Republic of                  4162
                                  ...
Dominica                              1
Gambia                                1
Vanuatu                               1
British Indian Ocean Territory        1
Nauru                                 1
Name: count, Length: 181, dtype: int64

# Step 2: Create a mapping from country to frequency

In [67]:
country_freq_mapping = country_counts.to_dict()

In [68]:
country_freq_mapping

{'United States': 58049,
 'China': 12038,
 'Japan': 7306,
 'United Kingdom': 4490,
 'Korea Republic of': 4162,
 'Germany': 3646,
 'France': 3161,
 'Canada': 2975,
 'Brazil': 2961,
 'Italy': 1944,
 'Australia': 1844,
 'Netherlands': 1680,
 'Russian Federation': 1616,
 'India': 1310,
 'Taiwan; Republic of China (ROC)': 1237,
 'Mexico': 1121,
 'Sweden': 1090,
 'Spain': 1027,
 'South Africa': 838,
 'Switzerland': 785,
 'Poland': 729,
 'Argentina': 661,
 'Indonesia': 649,
 'Norway': 609,
 'Colombia': 602,
 'Turkey': 568,
 'Viet Nam': 550,
 'Romania': 525,
 'Denmark': 490,
 'Hong Kong': 471,
 'Finland': 460,
 'Austria': 435,
 'Ukraine': 429,
 'Chile': 417,
 'Belgium': 409,
 'Iran (ISLAMIC Republic Of)': 389,
 'Egypt': 359,
 'Czech Republic': 349,
 'Thailand': 291,
 'New Zealand': 278,
 'Israel': 272,
 'Saudi Arabia': 264,
 'Venezuela': 251,
 'Ireland': 240,
 'European Union': 238,
 'Greece': 231,
 'Portugal': 229,
 'Hungary': 211,
 'Malaysia': 210,
 'Singapore': 208,
 'Pakistan': 186,
 'Philippines': 177,
 'Bulgaria': 166,
 'Morocco': 158,
 'Algeria': 122,
 'Peru': 119,
 'Tunisia': 118,
 'United Arab Emirates': 114,
 'Ecuador': 106,
 'Lithuania': 95,
 'Seychelles': 95,
 'Kenya': 93,
 'Kazakhstan': 92,
 'Kuwait': 90,
 'Costa Rica': 90,
 'Slovenia': 87,
 'Slovakia (SLOVAK Republic)': 86,
 'Uruguay': 80,
 'Croatia (LOCAL Name: Hrvatska)': 79,
 'Luxembourg': 72,
 'Belarus': 72,
 'Serbia': 69,
 'Nigeria': 67,
 'Latvia': 64,
 'Panama': 62,
 'Bolivia': 53,
 'Dominican Republic': 51,
 'Cyprus': 43,
 'Estonia': 42,
 'Oman': 41,
 'Bangladesh': 37,
 'Moldova Republic of': 37,
 'Paraguay': 35,
 'Georgia': 32,
 'Sri Lanka': 31,
 'Puerto Rico': 30,
 'Bosnia and Herzegowina': 30,
 'Lebanon': 28,
 'Jordan': 28,
 'Sudan': 25,
 'Qatar': 25,
 'El Salvador': 25,
 'Syrian Arab Republic': 24,
 'Macedonia': 24,
 'Angola': 24,
 'Namibia': 23,
 'Azerbaijan': 23,
 'Trinidad and Tobago': 22,
 'Malta': 22,
 'Iraq': 20,
 'Guatemala': 20,
 'Iceland': 19,
 'Nepal': 18,
 'Kyrgyzstan': 18,
 'Mauritius': 17,
 'Palestinian Territory Occupied': 16,
 'Nicaragua': 16,
 'Mozambique': 16,
 'Armenia': 15,
 'Tanzania United Republic of': 15,
 'Cambodia': 15,
 'Rwanda': 15,
 'Bahrain': 14,
 'Libyan Arab Jamahiriya': 14,
 'Uganda': 13,
 'Albania': 13,
 'Ghana': 11,
 'Zambia': 10,
 'Macau': 10,
 'Uzbekistan': 10,
 'Gabon': 9,
 'Honduras': 9,
 'Cuba': 9,
 'Barbados': 9,
 'Senegal': 9,
 'Guam': 7,
 'Jamaica': 7,
 'Montenegro': 7,
 'Belize': 7,
 'Malawi': 7,
 'Brunei Darussalam': 7,
 'Mongolia': 6,
 "Cote D'ivoire": 6,
 'Afghanistan': 6,
 'Zimbabwe': 6,
 'New Caledonia': 5,
 'Cameroon': 5,
 'Haiti': 4,
 'Cayman Islands': 4,
 "Lao People's Democratic Republic": 4,
 'Papua New Guinea': 4,
 'Bahamas': 4,
 'Ethiopia': 4,
 'Virgin Islands (U.S.)': 3,
 'Faroe Islands': 3,
 'Congo': 3,
 'Congo The Democratic Republic of The': 3,
 'Reunion': 3,
 'Botswana': 3,
 'Monaco': 3,
 'Antigua and Barbuda': 3,
 'Curacao': 3,
 'Djibouti': 3,
 'Fiji': 2,
 'Saint Kitts and Nevis': 2,
 'Burkina Faso': 2,
 'Benin': 2,
 'Gibraltar': 2,
 'Liechtenstein': 2,
 'Bermuda': 2,
 'Lesotho': 2,
 'Maldives': 2,
 'Bhutan': 2,
 'Niger': 1,
 'Cape Verde': 1,
 'Myanmar': 1,
 'Guadeloupe': 1,
 'Turkmenistan': 1,
 'San Marino': 1,
 'Saint Martin': 1,
 'Bonaire; Sint Eustatius; Saba': 1,
 'South Sudan': 1,
 'Tajikistan': 1,
 'Burundi': 1,
 'Madagascar': 1,
 'Yemen': 1,
 'Dominica': 1,
 'Gambia': 1,
 'Vanuatu': 1,
 'British Indian Ocean Territory': 1,
 'Nauru': 1}

# Step 3: Map the country column to its frequency

In [69]:
fraud_data['country_frequency'] = fraud_data['country'].map(country_freq_mapping)

# Normalize the frequencies (e.g., between 0 and 1)

In [70]:
fraud_data['country_frequency_normalized'] = fraud_data['country_frequency'] / fraud_data['country_frequency'].max()

In [71]:
fraud_data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,age,ip_address,class,lower_bound_ip_address,upper_bound_ip_address,...,month_of_year,browser_FireFox,browser_IE,browser_Opera,browser_Safari,source_Direct,source_SEO,sex_M,country_frequency,country_frequency_normalized
0,247547,2015-06-28 03:00:00,2015-08-09 03:57:00,0.549607,KIXYSVCHIPQBR,-0.363124,16778864,0,-1.724490,-1.732939,...,0.749993,False,False,False,True,False,True,False,1844,0.031766
1,220737,2015-01-28 14:21:00,2015-02-11 20:28:00,-1.197335,PKYOWQKWGJNJI,0.101168,16842045,0,-1.724461,-1.732881,...,-1.500438,False,False,False,False,False,True,False,291,0.005013
2,390400,2015-03-19 20:49:00,2015-04-11 23:41:00,0.385831,LVCSXLISZHVUO,-0.479197,16843656,0,-1.724430,-1.732880,...,-0.750295,False,True,False,False,False,False,True,12038,0.207377
3,69592,2015-02-24 06:11:00,2015-05-23 16:40:00,0.986342,UHAUHNXXUADJE,-0.363124,16938732,0,-1.724355,-1.732790,...,-0.375223,False,False,False,False,True,False,False,12038,0.207377
4,174987,2015-07-07 12:58:00,2015-11-03 04:04:00,0.767974,XPGPMOHIDRMGE,0.449387,16971984,0,-1.724340,-1.732760,...,1.875208,False,False,False,False,False,True,False,291,0.005013

In [72]:
fraud_data.nunique()

user_id                         129146
signup_time                     116742
purchase_time                   106332
purchase_value                     122
device_id                       118434
age                                 56
ip_address                      122499
class                                2
lower_bound_ip_address           25804
upper_bound_ip_address           25804
country                            181
transaction_time_diff(hours)     87816
hour_of_day                         24
day_of_week                          7
month_of_year                       12
browser_FireFox                      2
browser_IE                           2
browser_Opera                        2
browser_Safari                       2
source_Direct                        2
source_SEO                           2
sex_M                                2
country_frequency                  105
country_frequency_normalized       105
dtype: int64

## Remove unwanted columns

In [73]:
columns_to_remove = ['user_id','signup_time', 'device_id','ip_address','country','country_frequency']

In [74]:
fraud_data = fraud_data.drop(columns=columns_to_remove)

In [75]:
fraud_data.head()

,purchase_time,purchase_value,age,class,lower_bound_ip_address,upper_bound_ip_address,transaction_time_diff(hours),hour_of_day,day_of_week,month_of_year,browser_FireFox,browser_IE,browser_Opera,browser_Safari,source_Direct,source_SEO,sex_M,country_frequency_normalized
0,2015-08-09 03:57:00,0.549607,-0.363124,0,-1.724490,-1.732939,-0.413798,-1.231124,1.487911,0.749993,False,False,False,True,False,True,False,0.031766
1,2015-02-11 20:28:00,-1.197335,0.101168,0,-1.724461,-1.732881,-1.180857,1.229002,-0.505034,-1.500438,False,False,False,False,False,True,False,0.005013
2,2015-04-11 23:41:00,0.385831,-0.479197,0,-1.724430,-1.732880,-0.936131,1.663142,0.989675,-0.750295,False,True,False,False,False,False,True,0.207377
3,2015-05-23 16:40:00,0.986342,-0.363124,0,-1.724355,-1.732790,0.867100,0.650149,0.989675,-0.375223,False,False,False,False,True,False,False,0.207377
4,2015-11-03 04:04:00,0.767974,0.449387,0,-1.724340,-1.732760,1.700627,-1.086411,-1.003270,1.875208,False,False,False,False,False,True,False,0.005013

## Importing the Scaled Fraud Data

In [76]:
csv_file_path = 'scaled_fraud_data.csv'

In [77]:
fraud_data.to_csv(csv_file_path, index=False)

# Scaling the Credit Card Data

In [85]:
scaled_creditcard_df = prep.scale_features(creditCard_data, ['Time','Amount'])

In [86]:
scaled_creditcard_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.996583,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.244964,0
1,-1.996583,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.342475,0
2,-1.996562,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,1.160686,0
3,-1.996562,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.140534,0
4,-1.996541,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,-0.073403,0

In [87]:
csv_file_path2 = 'scaled_creditcard_data.csv'

In [89]:
scaled_creditcard_df.to_csv(csv_file_path2, index= False)